@{
    ViewBag.Title = "Home Page";
    }

<script src="scripts\jquery-2.1.4.min.js"></script>
<script src="scripts\bootstrap.min.js"></script>

<style>
    .dropdown-menu > li > a {
         text-align:center;
}

    
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12"><img src="~/Content/Images/PartyPlanner.jpg" class="img-responsive center-block"/>
    </div>
</div>
    </div>



    <div class="col-sm-12 text-center">
<form action="http://google.com">
  <h3 style="color:#F78181;font-family:Comic Sans MS"> I want a </h3>

    <div class="btn-group">
       <button type="button" data-toggle="dropdown" class="btn btn-info btn-lg dropdown-toggle">Entertainer <span class="caret"></span></button> 
      <ul class="dropdown-menu">
        <li><a href="#">Magican</a></li>
        <li><a href="#">Juggler</a></li>
        <li><a href="#">Comedian</a></li>
        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
    </div>

  <h3 style="color:#F78181;font-family:Comic Sans MS"> Located In </h3>

    <div class="btn-group">
      <button type="button" data-toggle="dropdown" class="btn btn-success btn-lg dropdown-toggle">Location <span class="caret"></span></button> 
      <ul class="dropdown-menu">
        <li><a href="#">Dublin</a></li>
        <li><a href="#"> Cork </a></li>
        <li><a href="#">Galway</a></li>

        <li class="divider"></li>
        <li><a href="#">Other</a></li>
      </ul>
    </div>

<br />
<br />
<h3 style="color:#F78181;font-family:Comic Sans MS"> Clci Below to Search </h3>
<br />

<a class="btn btn-danger btn-warning btn-lg" href="http://www.google.ie" role="button" font size="15">Search</a>
  
  
  
</form>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel">

                <img src="~/Content/Images/Ballons.png" class="img-reponsive center-block" />

                @Html.ActionLink("Customer Portal", "CustomerPortal", "Customer", null, new { @class = "btn btn-warning btn-block" })
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel">

                <img src="~/Content/Images/EntertainerLogin.bmp" class="img-reponsive center-block" />

                @Html.ActionLink("Entertainer Portal", "EntertainerPortal", "Entertainer", null, new { @class = "btn btn-warning btn-block" })
            </div>
        </div>

    </div>

