@{
    ViewBag.Title = "Home Page";
}

<style>
    .dropdown-menu > li > a {
         text-align:center;
}

    
</style>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12"><img src="~/Content/Images/PartyPlanner.jpg" class="img-responsive center-block"/>
    </div>
</div>
    </div>



    <div class="col-sm-12 text-center">
        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Choose Entertainer Type
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Type 1</a></li>
                <li><a href="#">Type 2</a></li>
                <li><a href="#">Type 3</a></li>
            </ul>
        </div>
        <br />
        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Choose Location
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Location 1</a></li>
                <li><a href="#">Location 2</a></li>
                <li><a href="#">Location 3</a></li>
            </ul>
        </div>
        <br />
        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Choose Date
            </button>
            <ul class="dropdown-menu">

                <li><a href="#">Calendar</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel">

                <img src="~/Content/Images/Ballons.png" class="img-reponsive center-block" />

                @Html.ActionLink("Customer Portal", "CustomerPortal", "Customer", null, new { @class = "btn btn-warning btn-block" })
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="panel">

                <img src="~/Content/Images/EntertainerLogin.bmp" class="img-reponsive center-block" />

                @Html.ActionLink("Entertainer Portal", "EntertainerPortal", "Entertainer", null, new { @class = "btn btn-warning btn-block" })
            </div>
        </div>

    </div>